@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sofia+Sans+Condensed&display=swap');

.navitems {
    height: 50px;
    width: 50px;
}

#logo {
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 50px;
    color:#ffffff;
    border-left: 10px;
}

#signup {
    text-align:center; 
    font-size:150%; 
    border:1px solid white; 
    margin-top: 20px;
    background-color: black;
}

hr {
    color: white
}

input {
    background-color: black;
    border: 1px solid gray;
    color: white;
    padding: 10px;
}

label, p{
    color: gray;
}

#butn1 {
    background-color: white;
    color: black;
    height: 100px;
    width: 180px;
    font-size: 20px;
    vertical-align: bottom;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

#butn1:hover {
    background-color: black;
    color: white
}