@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sofia+Sans+Condensed&display=swap');

.navitems {
    height: 50px;
    width: 50px;
}

#logo {
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 50px;
    color:#ffffff;
    border-left: 10px;
}

#homelogo {
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    font-size: 40px;
    color:#ffffff;
    border-left: 10px;
}

#signup {
    text-align:center; 
    font-size:150%; 
    border:1px solid white; 
    margin-top: 20px;
    background-color: black;
}

hr {
    color: white
}

input {
    background-color: black;
    border: 1px solid gray;
    color: white;
    padding: 10px;
}

label, p{
    color: gray;
}

#butn1 {
    background-color: white;
    color: black;
    height: 100px;
    width: 180px;
    font-size: 20px;
    vertical-align: bottom;
    font-family: 'Sofia Sans Condensed', sans-serif;
    text-decoration: none;
}

#butn2 {
    background-color: transparent;
    color: white;
    height: 40px;
    width: 80px;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 12px;
    margin: 5px;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

#butn1:hover {
    background-color: black;
    color: white;
}

.divcenter {
    margin: 0 auto;
}

.bord {
    border: 1px solid gray;
}

.black {
    background-color: black;
}

#member {
    color: cyan;
    text-decoration: none;
}

#member:hover {
    color: white;
}

.fine {
    color: #82078c;
    text-decoration: none;
}

.fine:hover {
    color: gray
}

.signing {
    height: 50px;
}

.cropC {
    clip-path: circle(30%); 
}

#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
  }